<%= simple_form_for(@van, html: {multipart: true}) do |f| %>
  <% if @van.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@van.errors.count, "error") %> prohibited this van from being saved:</h2>

      <ul>
      <% @van.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :brand %>
  </div>
  <div class="field">
    <%= f.input :model %>
  </div>
  <div class="field">
    <%= f.input :year %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :price %>
  </div>
  <div class="field">
    <%= f.input :capacity %>
  </div>
  <div class="">
  <%= f.fields_for :images do |image| %>
    <%= image.label :image %><br>
    <%= image.file_field :image  %>
  <% end %>
  <div class="field">
      <%= f.simple_fields_for :locations do |l| %>
        <%= l.input :city %>
      <% end %>
  </div>
    
  </div>
  <div class="actions">
    <%= f.submit 'Hecho!', :class => 'button expand'%>
  </div>
<% end %>
