<div class="row">
  <div class="panel callout small-9 columns">
    <h3>Encuentra tu furgo</h3>
    <br>
    <div class="small-3 column">
      <%= simple_form_for 'search', method: :get, controller: :vans, action: :index do |f|%>
        <%= f.input :Lugar, placeholder: 'ej. Cádiz',input_html: { value: @lugar || ""}  %>
        <%= f.input :Inicio, as: :custom_date %>
        <%= f.input :Fin, as: :custom_date  %>
        <%= f.input :source_type, :label => "Número de personas", :collection => ["1","2","3","4"], :selected => "2" %>
        <%= f.submit 'Buscar', :class=>"button expand"  %>
      <% end %>
    </div>
    <div class="small-9 column">
      <div id="map-canvas"></div>
    </div>
  </div>
  <div class="small-3 columns text-right">
    <h4>Filtros</h4>
    <%= simple_form_for 'search', method: :get do |f|%>
        <%= f.input :Combustible, as: :boolean%>
        
        <%= f.submit 'Buscar', :class=>"button expand"  %>
      <% end %>

  </div>
  
  <% @vans.each do |van| %>
    <div class="small-9 columns applewrap">
      <div class="row">
        <div class="small-3 columns">

          <%= image_tag("pic.png") %>
        </div>
        <div class="small-9 columns">
          <h4><%= van.brand %> <%= van.model %> <%= van.year %></h4>
          <div class="small-4 columns">
            
            <h3 class="primary bold"><%= van.price %> <p>Euros/día</p></h3>
          </div>
          <div class="small-4 columns">
            <ul class="inline-list">
              <li><%= link_to 'Show', van %></li>
              <li><%#= link_to 'Destroy', van, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
            <%= link_to 'Reservar esta furgo', van, :class=>"button tiny radius right btnvan" %>
          </div>
          
        </div>
      </div>
    </div>
  <% end %>


  

  
          
    



