<div class="row">
  <div class="panel clearfix small-12 columns">
    <h1>Opciones de búsqueda</h1>

    <br>
    
    <div class="small-3 column">
      <label>Ciudad de recogida y devolución
        <input type="text" placeholder="ej. Cádiz" />
      </label> 

      <label>Fecha de recogida
        <input type="date" placeholder="small-12.columns" />
      </label> 

      <label>Fecha de devolución
        <input type="date" placeholder="large-12.columns" />
      </label> 

      <label>¿Cuantas personas viajan en la furgo?
        <select>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
          <option value=6>6</option>
        </select>
      </label>
    </div>
    <div class="small-9 column">
       <div id="map-canvas"></div>
    </div>
  </div>
</div>

  <% @vans.each do |van| %>
    <div class="small-12 columns applewrap">
      <ul>
          <li><%= van.brand %></li>
          <li><%= van.model %></li>
          <li><%= van.year %></li>
          <li><%= van.price %></li>
          <li><%= van.description %></li>
          <li><%= link_to 'Show', van %></li>
          <li><%= link_to 'Destroy', van, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  <% end %>
          
    



