<div class="row">

  <div class="panel callout large-12 columns">

    <h3>Encuentra tu furgo</h3>
    <br>
    <div class="large-4 column">
      <%= simple_form_for 'search', method: :get, controller: :vans, action: :index do |f|%>
        <%= f.input :Lugar, placeholder: 'ej. Cádiz',input_html: { value: @lugar || ""}  %>
        <%= f.input :Inicio, as: :custom_date, input_html: { value: @inicio}  %>
        <%= f.input :Fin, as: :custom_date, input_html: { value: @fin}  %>
        <%= f.input :source_type, :label => "Número de personas", :collection => ["1","2","3","4"], :selected => @personas %>
        <%= f.submit 'Buscar', :class=>"button expand"  %>
      <% end %>
    </div>
    <div class="large-8 column">
      <div id="map-canvas"></div>
    </div>
  </div>


  
  
  <div>
    <% if @vans.count == 0 %>
      <h4>No hay ninguna furgoneta con esos datos.</h4>
      <h4 class="subheader">Por favor, modifica tus parametros de búsqueda</h4>
      <% else %>
        <h5 class="alert">Fenomenal, hemos encontrado <span class"primary bold"><%= @vans.count %></span> furgos con esos criterios</h5>
      <% end %>
  </div>

  <% @vans.each do |van| %>
  <div class"row">
     <div class="large-12 columns applewrap">
      <div class="row">
        <div class="large-3 columns">
          <%= image_tag(van.images.first.image) %>
        </div>
        <div class="large-9 columns">

          <a href="<%= "/vans/#{van.id.to_s}" %>" > <h4 class="primary"><%= van.brand %> <%= van.model %> <%= van.year %></h4></a>
          <div class="large-4 columns">
            <h3 class="primary bold"><%= van.price %> <p>Euros/día</p></h3>
            <%#= link_to 'Show', van %>
          </div>
          <div class="large-8 columns">
            
            <%# if @inicio && @fin %>
              <%= link_to 'Reservar esta furgo', new_rental_van_path(van.id, start_at: @inicio, end_at: @fin), :class=>"button  radius right btnvan", method: :get %>
            <%# end %>


          </div>
          
        </div>
      </div>
    </div>
  </div>
   
  <% end %>
  

  
          
    



