<div class="row">
	<p>
  <strong>Brand:</strong>
  <%= @van.brand %>
	</p>

	<p>
  <strong>Model:</strong>
  <%= @van.model %>
	</p>

	<p>
  <strong>Year:</strong>
  <%= @van.year %>
	</p>

	<p>
  <strong>Price:</strong>
  <%= @van.price %>
	</p>

	<p>
  <strong>Description:</strong>
  <%= @van.description %>
	</p>

	

	<p>
		<strong>Owner:</strong>
		<%= @van.user && @van.user.email || 'None' %>
	</p>

	<p>
		<strong>Foto:</strong>
		<%	@van.images.each do |i| %>
			<%= image_tag(i.image,height: '200', width: '200') %>	
		<% end %>
		
		
	</p>

	<% if @van.user == current_user %>
		<%= render 'vans/downtimes/create' %>
	<% end %>


<%= link_to 'Edit', edit_van_path(@van) %> |
<%= link_to 'Back', vans_path %>

</div>

	