<div class="row">
	
	<p>
  <strong>Brand:</strong>
  <%= @van.brand %>
	</p>

	<p>
  <strong>Model:</strong>
  <%= @van.model %>
	</p>

	<p>
  <strong>Year:</strong>
  <%= @van.year %>
	</p>

	<p>
  <strong>Price:</strong>
  <%= @van.price %>
	</p>

	<p>
  <strong>Description:</strong>
  <%= @van.description %>
	</p>


<%= link_to 'Edit', edit_van_path(@van) %> |
<%= link_to 'Back', vans_path %>

</div>

