<div class="row">
	<h1 class="left"><%= @van.brand %> <%= @van.model %> </h1>

	<div class="slider">
	  <ul data-orbit data-options="timer_speed: 100;animation: fade;">
			<%	@van.images.each do |i| %>
				<li><%= image_tag(i.image, height: '400', width: '400') %></li>
			<% end %>
  	</ul>
	</div>
			



</div>
<h2 class="subheader"><%= @van.price %> €/día</h2>


<div class="row">

	<p>
  <strong>Year:</strong>
  <%= @van.year %>
	</p>

	<p>
  <strong>Description:</strong>
  <%= @van.description %>
	</p>

	<p>
		<strong>Owner:</strong>
		<%= @van.user && @van.user.email || 'None' %>
	</p>

	<p>
		<strong>Foto:</strong>
		<%	@van.images.each do |i| %>
			<%= image_tag(i.image, height: '200', width: '200') %>	
		<% end %>
	</p>

	<% if @van.user == current_user %>
		redirect_to vans_path
	<% end %>


<%= link_to 'Edit', edit_van_path(@van) %> |
<%= link_to 'Back', vans_path %>

</div>

<% content_for :extrajs do %>
  <%= javascript_include_tag "foundation" %>
<% end %>

<script>
      $(document).foundation();
</script>



	