<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "CrowdCamper" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body class="home">
    <div class="row">
      <header class="hdr">
        <h1 class="thin minuspacing center logo">Crowd<span class="bold minuspacing">Camper</span></h1>
        <br>
        <h2 class="subheader center">Disfruta de la libertad de moverte de una forma diferente</h2>
      </header>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <div class="panel callout radius panelhome">
            <h4 class="subheader center">Empieza ya!</h4>
          <%= simple_form_for 'search', url: vans_path, method: :get do |f|%>
            <%= f.input :Lugar, placeholder: 'ej. Cádiz' %>
            <%= f.input :Inicio, :label =>"Fecha de recogida",as: :custom_date %>
            <%= f.input :Fin, :label =>"Fecha de devolución", as: :custom_date  %>
            <%= f.input :source_type, :label => "Número de personas", :collection => ["1","2","3","4"], :selected => "2" %>
            <%= f.submit 'Buscar mi furgo', :class=>"button expand"  %>

          <% end %>
        </div>
      </div>
    </div>
  </body>

  
 

