  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%= content_for?(:title) ? yield(:title) : "CrowdCamper" %></title>
    
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>
      <%= csrf_meta_tags %>
      
         <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
          <script>
          var map;
          function initialize() {    
            var mapOptions = {            
              zoom: 10,
              center: new google.maps.LatLng(40.4378271, -3.6795367)
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);

             var marker = new google.maps.Marker({ 
          position: new google.maps.LatLng(40.42708, -3.678335),
          map: map
          });

             var image = 'http://code.google.com/apis/maps/documentation/v3/examples/images/beachflag.png';

             
            var beachMarker = new google.maps.Marker({
          position: new google.maps.LatLng(40.482104, -3.6493242),
          map: map,
          icon: image
        });
          }

          google.maps.event.addDomListener(window, 'load', initialize);

          </script>
     

          

      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <!--<script type="text/javascript" src="//use.typekit.net/wwu2exi.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
    </head>

    <body>

        <div class="contain-to-grid sticky" data-options="sticky_on: large">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">

              <li class="name">
                <h1 class="logo">
                <%= link_to 'CrowdCamper', vans_path, { :class=>" bold " }%></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">

              <!-- Right Nav Section -->
            <ul class="right">
              <li><%= link_to 'Alquila tu furgo', new_van_path, { :class=>"button white" } %></li>
             
              <li>
                <% if user_signed_in? %>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
                <% else %>
                  <a data-reveal-id="sign_in" data-reveal>
                    Sign in
                  </a>
                  
                <% end %>   
              </li>
                
              <li>
                <% if user_signed_in? %>
                  <%= link_to current_user.email, destroy_user_session_path, method: :delete %>
                <% else %>
                  <a data-reveal-id="register" data-reveal>
                  Register
                  </a>
                <% end %> 
                
              </li>
  
            </ul>

             
            </section>
          </nav>
        </div>


        <div class="row">
          <div class="large-12 columns">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          <%= yield %>
          </div>
        </div>
        
        <!-- Footer -->
      
        <footer >
            <hr />
            <div class="row">
              <div class="large-4 columns">
                <p>© CrowdCamper. 2014</p>
              </div>
              <div class="large-8 columns">
                <ul class="inline-list right">
                  <li><a href="#">¿Porqué CrowdCamper?</a></li>
                  <li><a href="#">¿Cómo funciona?</a></li>
                  <li><a href="#">Contacto</a></li>
                  <li><a class="icon-twitter"></a></li>
                </ul>
              </div>
            </div>
        </footer>

        
        <%= javascript_include_tag "application" %>
        

        <div id="sign_in" class="reveal-modal tiny" data-reveal>
          <%= render template: "devise/sessions/new" %>
        </div>

        <div id="register" class="reveal-modal tiny" data-reveal>
          <%= render template: "devise/registrations/new" %>
        </div>

        

   
    <!-- Other JS plugins can be included here -->

   <%= content_for?(:extrajs) ? yield(:extrajs) : "" %>
    
    <script>
      $(document).foundation();
    </script>
    </body>
  </html>